#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Arjun Mahishi"
email = "arjun.mahishi@gmail.com"

[ui]
pager = "delta"
diff-formatter = ":git"
default-command = ["log", "-r", "trunk()::"] # only shows master and it's childred
